# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# Large data files
*.csv
*.zip
*.parquet
*.db

# Raw and extracted datasets (too large for GitHub)
datasets/
extracted/

# Environment files
.env